# Конфигурационные файлы
.env
config.py

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# База данных
places.db

# Виртуальное окружение
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo 

# Логирование
data/
*.log 

# Логи
logs/
*.log 